<br />

@model ImageServiceWeb.Controllers.ProductsController.Data
@{
    ViewBag.Title = "ImageWeb";
}

<h2>ImageWeb</h2>

<br />
<br />
<div>
    <p style="font-size:20px"> <b> Is Service Running: </b> @Html.DisplayFor(model => Model.isServiceRunning)</p>

    <p style="font-size:20px"> <b> Number Of Pictures: </b> @Html.DisplayFor(model => Model.numOfPictures)</p>

</div>


<br />
<div>
    <h2>Students Details</h2>
    <table class="table">
        <tr>
            <th> FirstName </th>
            <th> LastName </th>
            <th> ID </th>
            <th></th>
        </tr>
       
        @foreach (var item in Model.students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            </tr>
        }

    </table>

</div>