@model ImageServiceWeb.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

@foreach (var item in Model.ThumbPathList)
{
    <div>
        <div class="col-sm-5 col-md-3">
            <div class="thumnail">
            <img src="@Url.Content(item.RelativeThumbnailImagePath)" class="img-circle" alt="Cinque Terre" width="242" height="200">
                <div class="caption">
                    <div class="table table-striped-group">
                        <table>
                            <tr>
                                
                                <td> @Html.LabelFor(m => item.ImageName, new { @class = "col-md-2 control-label" }) </td>
                                <td> @Html.DisplayFor(modelItem => item.ImageName, new { @class = "col-md-2 control-label" }) </td>

                            </tr>
                            <tr>
                                <td> @Html.LabelFor(m => item.Year, new { @class = "col-md-2 control-label" }) </td>
                                <td> @Html.DisplayFor(modelItem => item.Year, new { @class = "col-md-2 control-label" }) </td>
                               
                            </tr>
                            <tr>
                               
                                 <td> @Html.LabelFor(m => item.Month, new { @class = "col-md-2 control-label" }) </td>
                                 <td>   @Html.DisplayFor(modelItem => item.Month, new { @class = "col-md-2 control-label" }) </td>
                            </tr>
                        </table>
                    </div>

                    <p>
                        @Html.ActionLink("View", "ViewPhoto", new { absoluteOriginalPath = item.AbsoluteOriginalImagePath, absoluteThumbPath = item.AbsoluteThumbnailImagePath,
                        originalPath = item.RelativeOriginalImagePath, thumbPath = item.RelativeThumbnailImagePath }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "DeletePhoto", new { absoluteOriginalPath = item.AbsoluteOriginalImagePath, absoluteThumbPath = item.AbsoluteThumbnailImagePath,
                        originalPath = item.RelativeOriginalImagePath, thumbPath = item.RelativeThumbnailImagePath }, new { @class = "btn btn-danger" })
                    </p>

                    </div>
            </div>
            <br />
        </div>
   </div>
}
